
<div style="width: 80%; margin-left: 5%; background-color: #f0f0f0; margin-top: 3%; border-radius: 25px; overflow: auto; ">

<h3>&nbsp;&nbsp;&nbsp;{{title}}</h3>

 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <ul class="nav navbar-nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">Targets
	        <span class="caret"></span></a>
	        <ul class="dropdown-menu">
				<li *ngFor="let menuItem of menu.menuItemList; let i = index">
					<a routerLink="{{menuItem.url}}">{{menuItem.name}}</a>
				</li>
	        </ul>
		</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!authenticated"><a routerLink="/login" title="Create a new session"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
	  <li *ngIf="authenticated" class="dropdown">
		<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{user.displayname}}
	       <span class="caret"></span></a>
	       <ul class="dropdown-menu">
			<li> 
				<a routerLink="/" (click)="logout()" title="End your session"><span class="glyphicon glyphicon-log-out"></span> Log off</a>
			</li>
	       </ul>
	  </li>      
      
    </ul>
  </div>
</nav> 

<div *ngIf="alert.message.length > 0" class="{{alert.class}}" style="width: 90%; margin-left: 5%;">
  <a href="#" class="close"  (click)="closeAlert()" aria-label="close">&times;</a>
  <strong>Information: </strong> {{alert.message}}
</div>

<router-outlet></router-outlet>

<div style="height: 100px;"></div>
</div>