#divContainer {
	background: white;
	float: left;
}

.menuDiv {
	background: white;
	float: left;
	width: 10%;
}

.portalDiv {
	background: #f0f0f0;
	float: left;
	width: 96%;
	margin-left: 2%;
}

#map {
	height: 450px;
	width: 100%;
	border-radius: 25px;
	border: 1px solid grey;
	
}