
<div id="#divContainer">
	<div class="menuDiv">
		<div>&nbsp;</div>
	</div>

	<div class="portalDiv">

		<p>
		<span>
			<span style="float: left;"> {{identity.name}}
			&nbsp; {{datetime | date: 'HH:mm:ss dd-MM-yyyy'}}
			&nbsp; {{provider}}
			 </span> 
			<span style="float: right;">
				<button type="button" title="previous location"
					(click)="previousLocation()" class="btn btn btn-xs">
					<span class="glyphicon glyphicon-step-backward"></span>
				</button>
				<button type="button" title="next location" (click)="nextLocation()"
					class="btn btn btn-xs">
					<span class="glyphicon glyphicon-step-forward"></span>
				</button>
				<button type="button" title="latest location"
					(click)="refreshLocationList()" class="btn btn btn-xs">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</span>
		</span>
		</p>

		<div id="map"></div>
	</div>

	<div class="menuDiv">
		<div>&nbsp;</div>
	</div>

</div>