
<div id="#divContainer">

	<div class="portalDiv">
     
	<div *ngIf="alert.message.length > 0" class="alert alert-danger fade in">
	  <strong>{{alert.error}}!&nbsp;</strong> {{alert.message}}
	</div>

		<p>
		<span *ngIf="alert.message.length == 0">
			<span style="float: left;"> {{identity.name}}:
			&nbsp; <font color="blue">{{datetime | date: 'dd-MM-yyyy'}}</font>
			<font color="red"> {{datetime | date: 'HH:mm'}}</font>
			&nbsp; location provider: <font color="orange">{{provider}}</font>
			 </span> 
			<span style="float: right;">
				<button type="button" title="previous location"
					(click)="previousLocation()" class="btn btn btn-xs">
					<span class="glyphicon glyphicon-step-backward"></span>
				</button>
				<button type="button" title="next location" (click)="nextLocation()"
					class="btn btn btn-xs">
					<span class="glyphicon glyphicon-step-forward"></span>
				</button>
				<button type="button" title="latest location"
					(click)="refreshLocationList()" class="btn btn btn-xs">
					<span class="glyphicon glyphicon-refresh"></span>
				</button>
			</span>
		</span>
		</p>

		<div *ngIf="alert.message.length == 0" id="map"></div>
		<br/>
	</div>
	
	<br/>

</div>