<div class="container" style="width: 100%;">

  <div class="col-xs-10">

    <div class="row">
      <label class="control-label col-xs-3" style="text-align: left; padding-top: 5px;">Username</label>
      <div class="col-xs-4">
        <input readonly="readonly" value="{{tmpUser.username}}" type="text" name="username" id="username" readonly="true"
               class="form-control input-sm"/>
      </div>

      <div class="col-xs-2">
        <div class="checkbox" style="float: right;">
          <label><input type="checkbox" disabled="true" name="remember" checked="{{tmpUser.active}}"> Active</label>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-3" style="text-align: left; padding-top: 5px;">Display name</label>
      <div class="col-xs-4">
        <input [(ngModel)]="tmpUser.displayname" type="text" name="displayName" id="displayName" class="form-control input-sm" required autofocus/>
      </div>

      <div class="col-xs-2">
        <div class="checkbox" style="float: right;">
          <label><input type="checkbox" disabled="true" name="remember" checked="{{tmpUser.admin}}"> Admin</label>
        </div>
      </div>
    </div>

    <div class="row">
      <label class="control-label col-xs-3" style="text-align: left; padding-top: 5px;">Identities</label>
      <button type="button" title="add identity" (click)="addIdentity()"
              class="btn btn btn-md">
        <span class="glyphicon glyphicon-plus-sign" style="color: blue;"></span>
      </button>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th width="10%;"><span>&nbsp;&nbsp;Id</span></th>
            <th width="45%">&nbsp;&nbsp;Name</th>
            <th width="25%">&nbsp;&nbsp;PhoneId</th>
            <th width="15%">&nbsp;&nbsp;Interval</th>
            <th width="5%;">&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let identity of tmpUser.identities; let i = index">
            <td width="10%;"><span class="content-editable" contenteditable='true' [textContent]="identity.id"
                                   (blur)="identity.id=$event.target.textContent">{{identity.id}}</span></td>
            <td width="45%;"><span class="content-editable" contenteditable='true' [textContent]="identity.name"
                                   (blur)="identity.name=$event.target.textContent">{{identity.name}}</span></td>
            <td width="25%;"><span class="content-editable" contenteditable='true' [textContent]="identity.phoneid"
                                   (blur)="identity.phoneid=$event.target.textContent">{{identity.phoneid}}</span></td>
            <td width="15%;"><span class="content-editable" contenteditable='true' [textContent]="identity.interval"
                                   (blur)="identity.interval=$event.target.textContent">{{identity.interval}}</span></td>
            <td width="5%;"><button type="button" title="remove {{identity.name}}" (click)="removeIdentity(identity)"
                                    class="btn btn-link btn-xs">
              <span class="glyphicon glyphicon-trash" style="color: crimson;"></span>
            </button></td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </div>


  <div class="col-xs-1">
    <div class="row">
      <button type="button" title="Save changes" (click)="saveSettings()"
              class="btn btn btn-lg" >
        <span class="glyphicon glyphicon-floppy-disk" style="color: darkgreen"></span>
      </button>
    </div>

    <div class="row">
      <button type="button" title="Reset all changes" (click)="cancelChanges()"
              class="btn btn btn-lg">
        <span class="glyphicon glyphicon-floppy-remove" style="color: crimson"></span>
      </button>
    </div>
  </div>



</div>

