.content-editable {
  position: relative;
  outline-width: 0;
  min-height: 1em;
  max-height: 300px;
  line-height: 1em;
  overflow-y: scroll;
  padding: 10px;
  word-wrap: break-word;
  /*border: 1px solid darkslategrey;*/
}

.content-editable:empty:before {
  content: attr(placeholder);
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

input[type="text"]{
  background-color: lightgoldenrodyellow;
}
input[type="text"]:read-only {
  font-weight: bold;
  color: darkslategrey;
  background: #f0f0f0;
  border: none;
}

tbody {
  display: block;
  height: 120px;
  overflow-y: scroll;
}

thead, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead {
  width: calc( 100% - 1em )
}

table {
  width: 95%;
}



